body {
    margin: 0;
    font-family: poppins;
}

.top-land-container {
    margin: 0px;
    width: 100vw;
    align-items: end;
    margin: 0px;
    justify-content: center;
    display: flex;
    flex-direction: row;
    gap: 100px;
    height: 100vh;
    background-color: red;
}

.top-side-cont {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    width: 100%;
    height: 90vh;
}

#right-side-top {
    margin-top: 0%;
    align-items: end;
    object-fit: cover;
    overflow: hidden;
}

#right-top-head {
    font-size: 35px;
    font-weight: 700;

}

#right-top-subhead {
    margin-top: -4%;
    font-size: 25px;
}


#top-right-img {
    margin-bottom: -0.5%;
    height: 90%;

}

#left-side-top {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    align-items: flex-start;
}

#left-side-top li {
    padding: 5px;
}

@media (max-width:907px) {
    #right-top-head {
        font-size: 25px;
    }

    #right-top-subhead {
        font-size: 10px;
    }

    #left-side-top li {
        font-size: 12px;
    }
}

.top2 {

    height: 100vh;
}

.top2-cont1 {
    padding-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#top2-cont1-head {
    margin-top: -3%;
    font-size: 30px;
    font-weight: 700;
}

#top2-cont1-para {
    display: flex;
    align-items: center;
    justify-content: center;

}

.dhnititle {
    color: rgba(129, 22, 34, 1);
}

.top2-cont1-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.top2-cont1-bottom-left {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    height: 55vh;
    width: 30vw;
    background-color: rgba(211, 211, 211, 1);
    border-radius: 10px;
}

.top2-cont1-bottom-right {
    height: 55vh;
    width: 65vw;
    display: flex;
    flex-direction: column;
    gap: 7%;

}

.top2-cont1-bottom-right-top {
    display: flex;
    gap: 3%;
    height: 25vh;
    width: 65vw;

}


.top2-cont1-bottom-right-bottom {
    display: flex;
    gap: 3%;
    height: 50%;
    width: 65vw;


}

.top2-cont1-bottom-right-top-left {
    height: 100%;
    width: 55%;
    background-color: rgba(211, 211, 211, 1);
    border-radius: 10px;
}

.top2-cont1-bottom-right-top-right {

    height: 100%;
    width: 55%;
    background-color: rgba(211, 211, 211, 1);
    border-radius: 10px;

}

.top2-cont1-bottom-right-bottom-left {
    height: 100%;
    width: 45%;
    background-color: rgba(211, 211, 211, 1);
    border-radius: 10px;
}

.top2-cont1-bottom-right-bottom-right {
    height: 100%;
    width: 55%;
    background-color: rgba(211, 211, 211, 1);
    border-radius: 5px;
    border-radius: 10px;
}

.top2-cont1-contents {
    height: 100%;
    width: 100%;
    margin: 5%;
}

.top2-cont1-contents-main {
    height: 80%;
}

.top2-cont1-contents-head {
    font-weight: 600;
}

.top2-arrows {
    width: 100%;
}


.top3 {
    height: auto;
}

.top3-topcontent {
    padding-top: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 5%;
}

#top3-para {
    margin-top: -3%;
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
}

.top3-cont {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90vh;
    background-color: rgba(247, 226, 209, 1);
}

.top3-left {

    height: 100%;
    width: 50%;
}

.top3-right {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    column-gap: 10%;
    height: 100%;
    width: 90%;

}

.top3-left-top {
    padding-top: 10%;
    margin-left: 10%;
    margin-bottom: 1%;
    display: flex;
    height: 30%;

}

.top3-left-bottom {
    margin-top: -15%;
    display: flex;
    height: 70%;

}

.top3-right-inner {
    display: flex;
    flex-direction: column;
    padding: -20%;
    justify-content: center;
    align-items: center;
    height: 32%;
    width: 40%;

}

.grand-img-bg {
    margin: 10%;
    height: 80%;
    width: 80%;
    background-color: rgba(245, 134, 52, 1);
    border-radius: 5%;

}

#grand-img {
    transform: scaleY(1.2);
    height: 100%;
    width: 100%;
}

.countelement {
    color: #F5863480;
    font-weight: 800;
    font-size: 5rem;
    font-family: "Manrope", sans-serif;
}

.counttext {

    font-weight: 500;
    font-size: 25px;

}

@media (max-width:800px) {
    .counttext {
        font-size: 15px;
    }

    .top3-cont {
        flex-wrap: wrap;
    }

    .mid-topbox-cont {
        column-gap: 15%;
        flex-wrap: wrap;
    }
}

.mid {
    margin-top: 90px;
    height: auto;
}

.mid-head {
    margin-top: -3%;
}

.mid-topbox-cont {
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
}

#first-midbox {
    background-color: rgba(245, 134, 52, 1);
}

.mid-boxes {
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    height: 80%;
    width: 15%;
    border: 2px solid;
    font-weight: 600;
    color: rgba(83, 67, 91, 1);
    border-color: rgba(245, 134, 52, 1);
    border-radius: 10px;
}

.mid-cont {
    padding-top: 2%;
}

.mid-cont-group img {
    height: 100px;
    width: 100%;
}


#top3-para {
    font-size: 10px;
}

.top-story-cont {
    width: 200px;
    height: 100px;
}